html {
  font-family: "Noto Serif", serif;
}

body {
  background-color: #fff;
  color: #000;
}

header {
  color: #fff;
  background-color: #70ad55;
}

input, option {
  border-color: #6e8c62;
}

.optional {
  color: #70ad55;
}

.address {
  border-top: 2px solid #70ad55;
  border-bottom: 2px solid #70ad55;
}

.boxes {
  border-top: 2px solid #70ad55;
  border-bottom: 2px solid #70ad55;
}

.comment {
  border-top: 2px solid #70ad55;
  border-bottom: 2px solid #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
