html {
  font-family: "Noto Serif", serif;
}

body {
  background-color: #fff;
  color: #000;
}

header {
  color: #fff;
  background-color: #70ad55;
}

input, option {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
